@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('font/Iosevka-Regular.woff2') format('woff2'), url('font/Iosevka-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('font/Iosevka-Medium.woff2') format('woff2'), url('font/Iosevka-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('font/Iosevka-Bold.woff2') format('woff2'), url('font/Iosevka-Bold.ttf') format('truetype');
}